.team-imgs {
  display: grid;
  grid-template-rows: repeat(2, 9.0277777775vw) 2.4rem;
  column-gap: 2.4rem;
  margin-top: -9.0277777775vw;
  @media screen and (min-width: 90em) {
    grid-template-rows: 13rem 13rem 2.4rem;
    margin-top: -13rem;
  }

  @include respond(low) {
    grid-template-rows: repeat(2, 72.38px) 9px;
    margin-top: 36px;
  }
}
.team {
  max-width: 37rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  &__text {
    font-size: 1.6rem;
    color: var(--color-gray-5);
    max-width: 23rem;

    @include respond(low) {
      font-size: 16px;
      max-width: 28rem;
    }
  }
  &__img {
    border-radius: 24px;

    &--1 {
      max-width: 26rem;
      grid-row: 1/2;
      grid-column: 2;
      width: 18.055555555vw;
      @include respond(low) {
        width: 144.76px;
      }
    }
    &--2 {
      max-width: 30rem;
      grid-row: 4;
      grid-column: 2;
      width: 20.277777777vw;
      @include respond(low) {
        width: 162px;
      }
    }
    &--3 {
      max-width: 32rem;
      grid-row: 2;
      grid-column: 1;
      width: 22.222222222vw;
      @include respond(low) {
        width: 178.16px;
      }
    }
  }
}
