.heading-2 {
  font-size: 4.8rem;
  font-weight: 500;

  @include respond(low) {
    font-size: 24px;
  }
}

.heading-3 {
  font-size: 3.6rem;
  font-weight: 500;

  @include respond(low) {
    font-size: 24px;
  }
}

.heading-4 {
  font-size: 1.8rem;
  font-weight: 500;

  @include respond(low) {
    font-size: 18px;
  }

  &--blue {
    color: var(--color-blue);
  }

  &--red {
    color: var(--color-red);
  }
}

.logo {
  font-family: "Heebo";
  font-weight: 800;
  font-size: 3.6rem;
}
